.ork {
  position: absolute !important;
  height: 72px !important;
  width: 72px !important;

  top: -72px;
  left: -72px;

  &:before {
    content: '';
    display: block !important;
    width: 100% !important;
    height: 4px !important;
    background-color: green !important;
    position: absolute !important;
    top: -5px !important;
  }

  @each $action in walk fight hit death {
    @for $idx from 0 through 7 {
      &.#{$action}#{$idx}{
        background: url('./assets/#{$action}#{$idx}.gif');
      }
    }
  }
}

.ork-health {
  display: block !important;
  width: 0;
  height: 4px !important;
  background-color: red !important;
  position: absolute !important;
  top: -5px !important;

  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


